#MainHeader {
    * {
        margin: 0;
        padding: 0;
    }

    transition: 0.2s ease;
    padding: 0 2rem;
    height: 48px;
    @include flexbox(sb, c);

    .logoSection {
        width: 140px;
        @include flexbox(s, c);

        h1 {
            width: 90px;
            height: 24px;
            font-weight: 700;
            font-size: 1.2rem;
            color: $mintDark;
            cursor: pointer;
        }
    }

    .headerStoreName {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .searchCont {
        @include flexbox(s, c);
        gap: 0.5rem;

        .storeSearch {
            transition: 0.2s ease;
            height: 28px;
            background-color: #eee;
            padding: 0.2rem 1rem;
            font-size: 0.9rem;
            border-radius: 2rem;
            border: 0;

            &::placeholder {
                font-weight: 400;
            }

            &:focus {
                outline: none;
            }
        }

        .storeSearchBtn {
            transition: 0.2s ease;
            width: 28px;
            height: 28px;
            background-color: $mint;
            border-radius: 2rem;
            border: 0;
            padding: 0.2rem;
            @include flexbox(c, c);

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .userSection {
        @include flexbox(e, c);
        gap: 0.5rem;
        width: 140px;

        .nickname {
            border: 0;
            background-color: transparent;
            font-size: 0.9rem;

            span {
                font-weight: 700;
            }
        }

        .login {
            font-size: 0.9rem;
            border: 0;
            background-color: transparent;
        }

        img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
    }
}

@include responsive(660px) {
    #MainHeader {
        padding: 0 1rem;
    }

    .logoSection {
        display: none !important;
    }

    // #MainHeader .searchCont .storeSearchBtn {
    //     display: none;
    // }
}

@include responsive(430px) {
    #MainHeader .searchCont .storeSearch {
        width: 120px;
    }
}