#DetailPageSection {
    @include column-flexbox(s, c);

    padding: 0 2rem;
    width: 100%;


    // 헤더
    .detailHeader {
        @include flexbox(sb, c);

        width: 100%;
        max-width: 768px;

        button {
            width: 48px;
            height: 48px;
            border: 0;
            transition: 0.2s ease;
            background: transparent;

            &:hover {
                background-color: $mint;
                border-radius: 100rem;
            }
        }

        h1 {
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0;
        }
    }

    .storeDetailInfo {
        width: 100%;
        @include flexbox(c, s);

        &::before {
            position: absolute;
            top: 48px;
            left: 0;
            z-index: -1;

            content: '';
            width: 100vw;
            height: 400px;
            opacity: 0.5;
            background: url('https://cdn.cashfeed.co.kr/attachments/34481f11df.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        &::after {
            position: absolute;
            top: calc(200px + 48px);
            left: 0;
            z-index: -1;

            content: '';
            width: 100vw;
            height: 200px;
            background: linear-gradient(transparent, rgba(255, 255, 255, 1));
        }

        .infoContainer {
            width: 100%;
            max-width: calc(768px - 2rem);
            padding: 2rem;
            background-color: #fff;
            border-radius: 1rem;

            position: absolute;
            top: 300px;

            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

            @include column-flexbox;
            gap: 0.5rem;

            .storeName {
                font-size: 1.2rem;
                font-weight: 700;
            }

            p {
                margin: 0;
            }

            .rateAndReviews {
                @include flexbox(s, e);
                color: $gray-500;
                padding-bottom: 1rem;

                .StarRating {
                    // 별점
                    @include flexbox(s, c);
                    margin-right: 0.5rem;

                    .ant-rate-star {
                        margin: 0;
                        margin-left: 2px;
                    }

                    .ant-rate-star-full {
                        svg {
                            fill: $mint;
                        }
                    }
                }

                p {
                    margin: 0;
                    margin-left: 0.5rem;

                    .num {
                        font-weight: 700;
                        color: $mint !important;
                    }
                }
            }
        }
    }

    .storeDetailReview {
        width: 100%;
        @include flexbox(c, s);

        position: absolute;
        top: 600px;
    }

    .reviewWriteSection {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        max-width: calc(768px - 2rem);
        height: 48px;
        padding: 6px 1rem 0 1rem;
        border-top: 1px solid #ddd;
        @include flexbox(sb, c);

        .star-container {
            cursor: pointer;
            position: relative;

            input {
                width: 116px;
                -webkit-appearance: none;
                appearance: none;
                background-color: transparent;

                position: absolute;
                z-index: 1;
                top: 0.5rem;
                left: 0;

                &::-webkit-slider-thumb {
                    cursor: pointer;
                    opacity: 0;
                    // -webkit-appearance: none;
                    // appearance: none;
                }
            }
        }

        div {
            font-size: 1.5rem;
        }

        form {
            @include flexbox;
            gap: 0.5rem;
            width: calc(100vw - 2rem - 120px);

            input {
                width: 100%;
                border: 0;
                padding: 0.2rem 0 0.2rem 0.5rem;
                outline-color: $mint;
                font-size: 0.9rem;
            }

            button {
                transition: 0.2s ease;
                white-space: nowrap;
                border: 0;
                border-radius: 4px;
                font-size: 0.9rem;
                padding: 0 0.5rem;
                background-color: $mint;

                &:disabled {
                    background-color: #ccc;
                }
            }
        }
    }
}

@include responsive(430px) {
    #DetailPageSection .storeDetailInfo .infoContainer {
        gap: 0.1rem;
    }

    #DetailPageSection .reviewWriteSection .star-container input {
        width: 102px;
    }
}