#DetailPageSection {
    @include column-flexbox(s, c);

    padding: 0 2rem;
    width: 100%;


    // 헤더
    .detailHeader {
        @include flexbox(sb, c);

        width: 100%;
        max-width: 768px;

        button {
            width: 48px;
            height: 48px;
            border: 0;
            transition: 0.2s ease;
            background: transparent;

            &:hover {
                background-color: $mint;
                border-radius: 100rem;
            }
        }

        h1 {
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0;
        }
    }

    .storeDetailInfo {
        width: 100%;
        @include flexbox(c, s);

        &::before {
            position: absolute;
            top: 48px;
            left: 0;
            z-index: -1;

            content: '';
            width: 100vw;
            height: 400px;
            opacity: 0.5;
            background: url('https://cdn.cashfeed.co.kr/attachments/34481f11df.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        &::after {
            position: absolute;
            top: calc(200px + 48px);
            left: 0;
            z-index: -1;

            content: '';
            width: 100vw;
            height: 200px;
            background: linear-gradient(transparent, rgba(255, 255, 255, 1));
        }

        .infoContainer {
            width: 100%;
            max-width: calc(768px - 2rem);
            padding: 2rem;
            background-color: #fff;
            border-radius: 1rem;

            position: absolute;
            top: 300px;

            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

            @include column-flexbox;
            gap: 0.5rem;

            .storeName {
                font-size: 1.2rem;
                font-weight: 700;
            }

            p {
                margin: 0;
            }

            .rateAndReviews {
                @include flexbox(s, e);
                color: $gray-500;
                padding-bottom: 1rem;

                .StarRating {
                    // 별점
                    @include flexbox(s, c);
                    margin-right: 0.5rem;

                    .ant-rate-star {
                        margin: 0;
                        margin-left: 2px;
                    }

                    .ant-rate-star-full {
                        svg {
                            fill: $mint;
                        }
                    }
                }

                p {
                    margin: 0;
                    margin-left: 0.5rem;

                    .num {
                        font-weight: 700;
                        color: $mint !important;
                    }
                }
            }
        }
    }

    .storeDetailReview {
        background-color: #eee;
        transition: 0.2s ease;
        width: 100%;
        max-width: calc(768px - 2rem);
        height: 300px;
        padding: 2rem;
        @include column-flexbox(c, s);
        overflow-y: scroll;
        border-radius: 1rem;

        position: absolute;
        top: 560px;

        .null {
            margin: 0 auto;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $mint;
            color: $mint;
            border-radius: 1rem;
        }

        article {
            margin-top: 0.5rem;

            p {
                margin: 0;
            }

            @include flexbox(s, e);
            gap: 1rem;

            img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }

            .reviewContentCont {
                background-color: #fff;
                border-radius: 0.5rem 0.5rem 0.5rem 0;
                padding: 0.5rem;
                position: relative;

                .grade {
                    display: inline;
                }

                .review {
                    margin-top: 0.3rem;
                    color: #333;
                }

                .nickname_date {
                    margin-top: 0.7rem;
                    @include flexbox;
                    gap: 0.5rem;
                    font-size: 0.8rem;
                    color: #777;

                    .nickname {
                        font-weight: 700;
                    }

                    button {
                        background-color: transparent;
                        border: 1px solid $mint;
                        padding: 0 0.5rem;
                        margin: 0;
                    }
                }

                &::after {
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-bottom: 9px solid #fff;
                    border-left: 9px solid transparent;
                    border-right: 0px solid transparent;
                    position: absolute;
                    bottom: 0;
                    left: -9px;
                }
            }
        }
    }

    .reviewWriteSection {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        max-width: calc(768px - 2rem);
        height: 48px;
        padding: 6px 1rem 0 1rem;
        border-top: 1px solid #ddd;
        @include flexbox(sb, c);

        .star-container {
            cursor: pointer;
            position: relative;

            input {
                width: 116px;
                -webkit-appearance: none;
                appearance: none;
                background-color: transparent;

                position: absolute;
                z-index: 1;
                top: 0.5rem;
                left: 0;

                &::-webkit-slider-thumb {
                    cursor: pointer;
                    opacity: 0;
                    // -webkit-appearance: none;
                    // appearance: none;
                }
            }
        }

        div {
            font-size: 1.5rem;
        }

        form {
            @include flexbox;
            gap: 0.5rem;
            width: calc(100vw - 2rem - 120px);

            input {
                width: 100%;
                border: 0;
                padding: 0.2rem 0 0.2rem 0.5rem;
                outline-color: $mint;
                font-size: 0.9rem;
            }

            button {
                transition: 0.2s ease;
                white-space: nowrap;
                border: 0;
                border-radius: 4px;
                font-size: 0.9rem;
                padding: 0 0.5rem;
                background-color: $mint;

                &:disabled {
                    background-color: #ccc;
                }
            }
        }
    }
}

@include responsive(430px) {
    #DetailPageSection .storeDetailInfo .infoContainer {
        gap: 0.1rem;
    }

    #DetailPageSection .reviewWriteSection .star-container input {
        width: 102px;
    }

    #DetailPageSection .storeDetailReview {
        top: 488px;
        height: 385px;
        border-radius: 0;
    }
}