#map {
    width: calc(100vw - 380px) !important;
    height: calc(100svh - 30px) !important;
    margin: 0;
    padding: 0;
    margin-left: 380px;

    // 마커 오버레이
    .customoverlay {
        position: relative;
        transform: translate(-20px, -78px);
        padding: 1rem 2rem;
        border: 3px solid $mint;
        border-radius: 0.5rem;
        background: #fff;


        .title {
            color: $gray-900;
            font-size: 1rem;
            padding-bottom: 0.5rem;
        }

        a {
            color: #fff;
            font-weight: 700;
            display: block;
            text-decoration: none;
            @include flexbox(c, c);
            padding: 0.3rem 0;
            border-radius: 0.5rem;
            background-color: $mint;
            transition: 0.2s ease;

            span {
                text-align: center;
            }
        }

        a:hover {
            background-color: $choco;
        }

        &::after {
            display: block;
            content: '';
            width: 24px;
            height: 12px;
            background: url(../images/store_info_arr.png) 0 0 no-repeat;
            position: absolute;
            z-index: 1;
            bottom: -11.4px;
            left: 50%;
            margin-left: -12px;
        }
    }
}