// src\assets\styles\views\SearchStoreForm.scss
.SearchStoreForm {
    width: 100%;
    padding: 2rem;

    @include flexbox(c, c);

    @include pos-center;
    z-index: 2;
    top: 6rem;

    .boxshadow {
        box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
}