// src/assets/styles/views/SearchStoreForm.scss
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.SearchStoreForm {
    position: absolute;
    z-index: 2;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;


    .form-floating {
        width: 100%;
        max-width: 768px;
    }
}