#TipOffSection {
    * {
        margin: 0;
        padding: 0;
    }

    margin: 0 auto;
    padding-top: 48px;
    max-width: calc(768px - 2rem);

    @include column-flexbox;
    gap: 1.5rem;

    .responsive {
        max-width: calc(768px - 2rem);
        padding: 0 1rem;
    }

    header {
        @include flexbox(sb, c);

        .tipOffTitle {
            font-size: 1.2rem;
            font-weight: 700;
        }

        button {
            border: 0;
            background-color: transparent;
        }

        &::after {
            content: '';
        }
    }

    footer {
        width: 100%;
        height: 48px;
        padding: 0 !important;

        position: fixed;
        bottom: 0;

        button {
            width: 100%;
            height: 100%;
            border: 0;

            font-weight: 700;
            color: #fff;
            background-color: $mintDark;

            &.disible {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }
    }

    .stepSection {
        margin-bottom: 2rem;

        h3 {
            @include flexbox(s, c);
            font-size: 1.5rem;
        }
    }

    .stepSection.step1 {

        // ----------------- 매장 검색
        #tipOffSearchStore {
            #menu_wrap {
                width: 100%;

                #placesList {
                    width: 100%;
                    height: calc(100svh - 320px);
                    overflow-y: scroll;
                    background-color: #eee;

                    padding: 0.5rem;

                    @include column-flexbox;

                    li {
                        font-size: 0.9rem;
                        cursor: pointer;

                        hr {
                            margin: 0.5rem 0;
                        }
                    }
                }

                .option {
                    form {
                        margin-bottom: 2rem;
                        @include flexbox(s, c);
                        gap: 0.5rem;
                        height: 40px;

                        input {
                            width: 100%;
                            height: 100%;
                            padding-left: 0.5rem;
                            outline: none;
                            border: 1px solid #ccc;

                            &:focus {
                                border: 2px solid $mint;
                            }
                        }

                        button {
                            height: 100%;
                            transition: 0.2s ease;
                            border: 1px solid $mintDark;
                            color: $mintDark;
                            white-space: nowrap;
                            background-color: transparent;
                            padding: 0 1rem;

                            &:hover {
                                background-color: $mintDark;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .subText {
            font-size: 0.9rem;
            color: #777;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }

        .selectSearchItem {
            padding: 1rem;
            border: 1px solid $mint;
            border-radius: 4px;

            button {
                border: 0;
                background: transparent;
                margin-bottom: 1rem;
            }

            .place_name {
                font-size: 1.2rem;
            }
        }
    }

    .stepSection.step2 {
        .step2InputSection {
            margin-top: 0.5rem;

            button {
                border: 0;
                width: 24px;
                height: 24px;
                border-radius: 12px;

                @include flexbox(c, s);
                font-size: 1.5rem;
                line-height: 24px;
            }

            .insert {
                margin: 0.5rem 0;
                background-color: $mint;
            }

            .insertItems {
                margin-bottom: 1rem;
                @include flexbox(s, c);
                gap: 0.5rem;

                input {
                    padding-left: 0.5rem;
                }

                .name {
                    width: 100%;
                    max-width: 100px;
                }

                .price {
                    width: 100%;
                    max-width: 100px;
                }

                .delete {
                    border: 1px solid $mintDark;
                    color: $mintDark;
                    background-color: transparent;
                }
            }
        }
    }

    .stepSection.step3 {
        .step3Check {
            article {
                padding: 0.5rem;
                border: 1px solid $mint;
                margin-top: 1rem;
            }

            .menuItems {
                padding: 0.2rem 0.5rem;
                background-color: $mintLight;
                border-radius: 1rem;
                margin-right: 0.5rem;
                line-height: 2;
            }
        }
    }

    .stepSection.step4 {
        height: calc(100svh - 96px);
        @include column-flexbox(c, c);

        .title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }
}

@include responsive (430px) {
    #TipOffSection .stepSection #tipOffSearchStore #menu_wrap #placesList {
        height: calc(100svh - 300px);
    }
}