@import './reset.css';

// bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

@import './mixins/mixins.scss';

// view pages
@import "./views/MainMap.scss";
@import "./views/SearchStoreForm.scss";
@import "./views/DetailComp.scss";
@import "./views/storeMapsCont.scss";

#app {
    height: calc(100svh - 30px);

    .map_wrap {
        @include flexbox;
    }
}

#footer {
    font-size: 0.8rem;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: $gray-500;
    line-height: 30px;

    position: fixed;
    bottom: 0;
}

@include responsive(768px) {
    #app {
        height: 100%;

        .map_wrap {
            flex-direction: column-reverse;
        }

        #map {
            margin: 0;
            width: 100vw !important;
            height: 30svh !important;
        }
    }
}